.restauration__card{
    height: 100%;
}

.restauration__card-list{
    list-style-type: circle;
}
.restauration__card-list h5::first-letter {
    text-transform: uppercase;
}
.restauration__card-image {
    object-fit: cover;
    height: 50%;
}
// .show{
    // min-height: 60vh;
    // align-self: stretch;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;

// }

// .card{

// }
// .restauration__card-test{
//     mb
// position: absolute;

// }