#carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
  .carousel-inner
    .carousel-item.active
      +image('content/slider-patina.jpg', 'slider-image d-block w-100')
    .carousel-item
      +image('content/slider-woodworks.jpg', 'slider-image d-block w-100')
    .carousel-item
      +image('content/slider-fasad.jpg', 'slider-image d-block w-100')
    .carousel-item
      +image('content/slider-cnc.jpg', 'slider-image d-block w-100')
    .carousel-item
      +image('content/slider-floor.jpg', 'slider-image d-block w-100')