.container
    h1.section__head О нас
    p.description Производим реставрацию каменных, деревянных, кирпичных и штукатурных фасадов. Реставрацию цоколей, колонн, входных групп, оконных заполнений и других элементов зданий, в том числе являющихся памятниками культурного наследия.