footer#footer.footer.bg-secondary.text-light
  .footer-wrapper
    .row.py-5.d-flex.align-items-center.bg-dark
      .container
        .row
          .col-4
            h6.text-uppercase.font-weight-bold.mb-4 ИП ГРИНЦЕВИЧ АНДРЕЙ ВЛАДИМИРОВИЧ
          .col-2
            h6.text-uppercase.font-weight-bold.mb-4 Меню
          .col-2
            h6.text-uppercase.font-weight-bold.mb-4 Услуги
          .col-2
            h6.text-uppercase.font-weight-bold.mb-4 Технологии
          .col-2
            h6.text-uppercase.text-right.font-weight-bold.mb-4 Контакты
        .row
          .col-4
            p
              | Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          .col-2
            nav.nav.h-100
              ul.navbar-nav.navbar-footer.footer__list.flex-column
                li.nav-item
                  a.menu_link.py-2(href='#second-section') Реставрация
                li.nav-item
                  a.menu_link.py-2(href='#') Производство
                li.nav-item
                  a.menu_link.py-2.text-light(href='#') Галерея
                li.nav-item
                  a.menu_link.py-2(href='#') О нас
                li.nav-item
                  a.menu_link.py-2.text-light(href='#footer') Контакты
          .col-2
            ul.navbar-nav.navbar-footer.footer__list.flex-column
              li.nav-item
                a.menu_link.py-2(href='#second-section') Реставрируем
              li.nav-item
                a.menu_link.py-2(href='#') Производим
              li.nav-item
                a.menu_link.py-2.text-light(href='#') Еще что-то
              li.nav-item
                a.menu_link.py-2(href='#') Датчики
              li.nav-item
                a.menu_link.py-2.text-light(href='#footer') Носок
          .col-2
            ul.navbar-nav.navbar-footer.footer__list.flex-column
              li.nav-item
                a.menu_link.py-2(href='#second-section') Клейка
              li.nav-item
                a.menu_link.py-2(href='#') Резка
              li.nav-item
                a.menu_link.py-2.text-light(href='#') Долбка
              li.nav-item
                a.menu_link.py-2(href='#') Монтаж
              li.nav-item
                a.menu_link.py-2.text-light(href='#footer') Другое
          .col-2.text-center
            .row
              .col-10
                p.text-right New York, NY 10012, US
              .col-2.p-0.text-center
                +icon('github', 'contacts__icon')
            .row
              .col-10
                p.text-right info@example.com
              .col-2.p-0.text-center
                +icon('message', 'contacts__icon')
            .row
              .col-10
                p.text-right + 01 234 567 88
              .col-2.p-0.text-center
                +icon('scroll', 'contacts__icon')
            .row
              .col-10
                p.text-right + 01 234 567 89
              .col-2.p-0.text-center
                +icon('quote', 'contacts__icon')
