nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.navbar-light.bg-light
  .container
    ul.navbar-nav.text-light.m-auto.flex-row
      li.nav-item
        a.menu_link.p-2(href="" onclick="app.goto(2);") Реставрация
      li.nav-item
        a.menu_link.p-2(href="" onclick="app.goto(3);") Производство
      li.nav-item
        a.menu_link.p-2.text-light(href='#') Галерея
      li.nav-item
        a.menu_link.p-2(href='#' onclick="app.goto(4);") О нас
      li.nav-item
        a.menu_link.p-2.text-light(href='#footer') Контакты