section#restauration.restauration(name="page2")
  .container
    h1.section__head Реставрация
    .section__content
      .row
        .col-4
          #list-tab.list-group(role='tablist')
            a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-facades', role='tab', aria-controls='facades') Фасады и элементы зданий
            a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-floor', role='tab', aria-controls='floor') Полы и поверхности
            a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-staircase', role='tab', aria-controls='staircase') Крыльца и лестницы
            a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-furniture', role='tab', aria-controls='furniture') Мебель и интерьер
            a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-memorials', role='tab', aria-controls='memorials') Памятники
        .col-8
          #nav-tabContent.tab-content
            #list-facades.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-home-list')
              .card.restauration__card.pb-5
                +image('content/facade_works.jpg', 'restauration__card-image')
                .card-body
                  p.card-text.mb-3 Производим реставрацию каменных, деревянных, кирпичных и штукатурных фасадов. Реставрацию цоколей, колонн, входных групп, оконных заполнений  и других элементов зданий, в том числе являющихся памятниками культурного наследия.
                  ul.restauration__card-list.pl-4
                    li.restauration__card-item
                      h5 Расчистка
                      p удаление высолов, ржавчины, сажистых и других сложных загрязнений.
                    li.restauration__card-item
                      h5 Восполнение утрат
                      p мастиковки, вставки, восстановление объемного декора.
                    li.restauration__card-item
                      h5 Укрепление
                      p гидроизоляция, инъектирование, пропитка укрепляющими составами.
                    li.restauration__card-item
                      h5 Биоцидная обработка
                      p удаление грибков, водорослей и мхов, защита от заражения.
                    li.restauration__card-item
                      h5 Комплексная защита
                      p покраска, покрытие защитными составами, гидрофобизация.
            #list-floor.tab-pane.fade(role='tabpanel', aria-labelledby='list-profile-list')
              .card.restauration__card.pb-5
                +image('content/floor.jpg', 'restauration__card-image')
                .card-body
                  p.card-text.mb-3 Реставрация поверхностей из камня и дерева: стен интерьеров, полов, подоконников, столешниц.
                  ul.restauration__card-list.pl-4
                    li.restauration__card-item
                      h5 Глубокая очистка.
                    li.restauration__card-item
                      h5 Циклевание и шлифовка.
                    li.restauration__card-item
                      h5 Устранение сколов и царапин.
                    li.restauration__card-item
                      h5 Ремонт швов и примыканий.
                    li.restauration__card-item
                      h5 Полировка и кристаллизация.
                    li.restauration__card-item
                      h5 Нанесение защитных покрытий.
            #list-staircase.tab-pane.fade(role='tabpanel', aria-labelledby='list-messages-list')
              .card.restauration__card.pb-5
                +image('content/staircase.jpg', 'restauration__card-image')
                .card-body
                  p.card-text.mb-3 Полный комплекс работ по ремонту и реставрации крылец из натурального камня, при необходимости включающий в себя полную разборку с сохранением материалов и удаление старых бетонных стяжек.
                  ul.restauration__card-list.pl-4.mb-3
                    li.restauration__card-item
                      h5 Обустройство оснований.
                    li.restauration__card-item
                      h5 Выравнивание
                    li.restauration__card-item
                      h5 Гидроизоляция
                    li.restauration__card-item
                      h5 Укладка теплого пола.
                    li.restauration__card-item
                      h5 Перекладка каменных плит, ступеней, балясин и тумб с сохранением.
                    li.restauration__card-item
                      h5 Очистка от сложных загрязнений.
                    li.restauration__card-item
                      h5 Ремонт выбоин и сколов.
                    li.restauration__card-item
                      h5 Проливка и затирка швов.
                  p.card-text Так же производим реставрацию деревянных и металлических лестниц и крылец, изготавливаем копии утраченных элементов: балясин, перил, ступеней и других.
            #list-furniture.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
              .card.restauration__card.pb-5
                +image('content/furniture.jpeg', 'restauration__card-image')
                .card-body
                  p.card-text.mb-3 Реставрация каменных и деревянных предметов интерьера, среди которых: камины, вазы, старинная мебель, карнизы, колонны, пилястры и другие.
            #list-memorials.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
              .card.restauration__card.pb-5
                +image('content/memorial.jpg', 'restauration__card-image')
                .card-body
                  p.card-text.mb-3 Организация и производство комплексных работ по восстановлению и сохранению объектов культурного наследия в том числе, охраняемых государством
                  ul.restauration__card-list.pl-4.mb-3
                    li.restauration__card-item
                      h5 исторических памятников
                    li.restauration__card-item
                      h5 стелл
                    li.restauration__card-item
                      h5 скульптурных групп
                    li.restauration__card-item
                      h5 надгробий