section#restauration.restauration
  .container
    h1.section-head Реставрация
    .section__content
      .row
        .col-4
          #list-tab.list-group(role='tablist')
          a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-home', role='tab', aria-controls='home') &Fcy;&acy;&scy;&acy;&dcy;&ycy; &icy; &ecy;&lcy;&iecy;&mcy;&iecy;&ncy;&tcy;&ycy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
          a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-profile', role='tab', aria-controls='profile') &Pcy;&ocy;&lcy;&ycy; &icy; &pcy;&ocy;&vcy;&iecy;&rcy;&khcy;&ncy;&ocy;&scy;&tcy;&icy;
          a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab', aria-controls='settings') &Kcy;&rcy;&ycy;&lcy;&softcy;&tscy;&acy; &icy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;&ycy;
          a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab', aria-controls='messages') &Mcy;&iecy;&bcy;&iecy;&lcy;&softcy; &icy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy;
          a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab', aria-controls='messages') &Pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&icy;
        .col-8
          #nav-tabContent.tab-content
          #list-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-home-list')
            .card
              +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
              .card-body
                p.card-text
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi si
          #list-profile.tab-pane.fade(role='tabpanel', aria-labelledby='list-profile-list')
            .card
              +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
              .card-body
                p.card-text
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi si
          #list-messages.tab-pane.fade(role='tabpanel', aria-labelledby='list-messages-list')
            .card
              +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
              .card-body
                p.card-text
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi si
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
            .card
              +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
              .card-body
                p.card-text
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi si
          #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
            .card
              +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
              .card-body
                p.card-text
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Modi
                et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                animi si