include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper(id="fullPage")
      section.hero(name="page1")
        include sections/header.pug
        include sections/carousel.pug
      include sections/restoration.pug
      include sections/new-works.pug
      section.about(name="page4")
        include sections/desc.pug
        include sections/footer.pug