include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      section.hero
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.navbar-light.bg-light
          .container
            ul.navbar-nav.text-light.m-auto.flex-row
              li.nav-item
                a.menu_link.p-2(href='#second-section') &Rcy;&iecy;&scy;&tcy;&acy;&vcy;&rcy;&acy;&tscy;&icy;&yacy;
              li.nav-item
                a.menu_link.p-2(href='#') &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;
              li.nav-item
                a.menu_link.p-2.text-light(href='#') &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
              li.nav-item
                a.menu_link.p-2(href='#') &Ocy; &ncy;&acy;&scy;
              li.nav-item
                a.menu_link.p-2.text-light(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
          .carousel-inner
            .carousel-item.active
              +image('content/slider-patina.jpg', 'slider-image d-block w-100')
            .carousel-item
              +image('content/slider-woodworks.jpg', 'slider-image d-block w-100')
            .carousel-item
              +image('content/slider-fasad.jpg', 'slider-image d-block w-100')
            .carousel-item
              +image('content/slider-cnc.jpg', 'slider-image d-block w-100')
            .carousel-item
              +image('content/slider-floor.jpg', 'slider-image d-block w-100')
      section#restauration.restauration
        .container
          h1 &Rcy;&iecy;&scy;&tcy;&acy;&vcy;&rcy;&acy;&tscy;&icy;&yacy;
          .row
            .col-4
              #list-tab.list-group(role='tablist')
                a#list-home-list.list-group-item.list-group-item-action.active(data-toggle='list', href='#list-home', role='tab', aria-controls='home') &Fcy;&acy;&scy;&acy;&dcy;&ycy; &icy; &ecy;&lcy;&iecy;&mcy;&iecy;&ncy;&tcy;&ycy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
                a#list-profile-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-profile', role='tab', aria-controls='profile') &Pcy;&ocy;&lcy;&ycy; &icy; &pcy;&ocy;&vcy;&iecy;&rcy;&khcy;&ncy;&ocy;&scy;&tcy;&icy;
                a#list-settings-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab', aria-controls='settings') &Kcy;&rcy;&ycy;&lcy;&softcy;&tscy;&acy; &icy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;&ycy;
                a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab', aria-controls='messages') &Mcy;&iecy;&bcy;&iecy;&lcy;&softcy; &icy; &icy;&ncy;&tcy;&iecy;&rcy;&softcy;&iecy;&rcy;
                a#list-messages-list.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab', aria-controls='messages') &Pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&icy;
            .col-8
              #nav-tabContent.tab-content
                #list-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='list-home-list')
                  .card
                    +image('content/9f97033d7eaab7fd07ee693c03daaef5.jpg', 'card-img-top')
                    .card-body
                      p.card-text
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi
                        | et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                        | animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                        | ipsum dolor sit, amet consectetur adipisicing elit. Modi
                        | et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                        | animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                        | ipsum dolor sit, amet consectetur adipisicing elit. Modi
                        | et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                        | animi sit voluptates libero, iusto in molestiae dolorem esse mollitia.Lorem
                        | ipsum dolor sit, amet consectetur adipisicing elit. Modi
                        | et illo nam necessitatibus quidem unde voluptatibus, rem rerum odit laudantium
                        | animi si
                #list-profile.tab-pane.fade(role='tabpanel', aria-labelledby='list-profile-list')
                  .card
                    img.card-img-top(src='.../100px180/', alt='Card image cap')
                    .card-body
                      h5.card-title Card title
                      p.card-text
                        | Some quick example text to build on the card title and make up
                        | the bulk of the card&apos;s content.
                #list-messages.tab-pane.fade(role='tabpanel', aria-labelledby='list-messages-list')
                  .card
                    img.card-img-top(src='.../100px180/', alt='Card image cap')
                    .card-body
                      h5.card-title Card title
                      p.card-text
                        | Some quick example text to build on the card title and make up
                        | the bulk of the card&apos;s content.
                #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
                  .card
                    img.card-img-top(src='.../100px180/', alt='Card image cap')
                    .card-body
                      h5.card-title Card title
                      p.card-text
                        | Some quick example text to build on the card title and make up
                        | the bulk of the card&apos;s content.
                #list-settings.tab-pane.fade(role='tabpanel', aria-labelledby='list-settings-list')
                  .card
                    img.card-img-top(src='.../100px180/', alt='Card image cap')
                    .card-body
                      h5.card-title Card title
                      p.card-text
                        | Some quick example text to build on the card title and make up
                        | the bulk of the card&apos;s content.
      section.new-works
        .container
          h1 &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;
          #accordionExample.accordion
            .card
              #headingOne.card-header
                h5.mb-0
                  button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    | Collapsible Group Item #1
              #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  | squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                  | nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                  | single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  | beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  | lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                  | probably haven&apos;t heard of them accusamus labore sustainable VHS.
            .card
              #headingTwo.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    | Collapsible Group Item #2
              #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  | squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                  | nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                  | single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  | beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  | lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                  | probably haven&apos;t heard of them accusamus labore sustainable VHS.
            .card
              #headingThree.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    | Collapsible Group Item #3
              #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  | squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                  | nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                  | single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  | beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  | lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                  | probably haven&apos;t heard of them accusamus labore sustainable VHS.
      footer.footer
        .footer-wrapper
          .container
            .row.py-4.d-flex.align-items-center
              .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
                h6.mb-0 Get connected with us on social networks!
              .col-md-6.col-lg-7.text-center.text-md-right
                a.fb-ic
                  i.fab.fa-facebook-f.white-text.mr-4
                a.tw-ic
                  i.fab.fa-twitter.white-text.mr-4
                a.gplus-ic
                  i.fab.fa-google-plus-g.white-text.mr-4
                a.li-ic
                  i.fab.fa-linkedin-in.white-text.mr-4
                a.ins-ic
                  i.fab.fa-instagram.white-text
        .container.text-center.text-md-left.mt-5
          .row.mt-3
            .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
              h6.text-uppercase.font-weight-bold &Icy;&Pcy; &Gcy;&rcy;&icy;&ncy;&tscy;&iecy;&vcy;&icy;&chcy; &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Vcy;&lcy;&acy;&dcy;&icy;&mcy;&icy;&rcy;&ocy;&vcy;&icy;&chcy;
              hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                | Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                | consectetur
                | adipisicing elit.
            .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
              h6.text-uppercase.font-weight-bold Products
              hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a(href='#!') MDBootstrap
              p
                a(href='#!') MDWordPress
              p
                a(href='#!') BrandFlow
              p
                a(href='#!') Bootstrap Angular
            .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
              h6.text-uppercase.font-weight-bold Useful links
              hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a(href='#!') Your Account
              p
                a(href='#!') Become an Affiliate
              p
                a(href='#!') Shipping Rates
              p
                a(href='#!') Help
            .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
              // Links
              h6.text-uppercase.font-weight-bold Contact
              hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                i.fas.fa-home.mr-3
                |  New York, NY 10012, US
              p
                i.fas.fa-envelope.mr-3
                |  info@example.com
              p
                i.fas.fa-phone.mr-3
                |  + 01 234 567 88
              p
                i.fas.fa-print.mr-3
                |  + 01 234 567 89
